[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeharvest = "*"
tabulate = "*"
python-dotenv = "*"
jinja2 = "*"
pendulum = "*"
openai = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.12"
