# {{ property['street'] }}

> {{ property['street'] }}, {{ property['city'] }}, {{ property['state'] }} {{ property['zip_code'] }}
> (**Prepared on**: {{ now }})

**Realtor.com ID**: [{{ property['property_id']}}]({{ property['property_url'] }})

## Property Details
- **Year Built**: {{ property['year_built'] }}
- **Beds | Baths | Half Baths**: {{ property['beds'] }} | {{ property['full_baths'] }} | {{ property['half_baths'] }}
- **Stories | Garages**: {{ property['stories'] }} | {{ property['parking_garage'] }}
- **Square Footage**: {{ property['sqft'] | format_numbers }}
- **Lot Size**: {{ property['lot_sqft'] | format_numbers }}

### Location Info
- **County**: {{ property['county'] }}
- **Neighborhood**: {{ property['neighborhoods'] }}
- **Schools**: {{ property['nearby_schools'] }}

### Latest Tax Assessment
{% set recent_tax = property['tax_history'] | sort(attribute='year', reverse=True) | first -%}
**{{ recent_tax.year }}**
- **Assessed**: ${{ recent_tax.assessment.total | format_numbers }}
- **Taxes**: ${{ recent_tax.tax | format_numbers }}
- **Sq Ft**: ${{ (recent_tax.assessment.total / property['sqft']) | format_numbers if property['sqft'] else 0 }}/ft

{% if property['list_price'] != "" %}
### Listing Info
- **List Price**: ${{ property['list_price'] | format_numbers }}
- **Property Status**: {{ property['status'] | title() }}
- **Diff to Assessed**: ${{ (property['list_price'] - property['assessed_value']) | format_numbers }} ({{ property['listed_to_assessed'] | format_numbers(2) }}%)
- **Listing Date**: {{ property['list_date'] }} (Days: {{ property['days_on_mls'] }})
- **Listing Agent**: [{{ property['agent_name'] }}](mailto:{{ property['agent_email'] }}) | [{{ property['agent_phones'][0]['number'] }}](callto:{{ property['agent_phones'][0]['number'] }})
- **Broker**: {{ property['office_name'] }}
- **MLS / ID**: {{ property['mls'] }} | {{ property['mls_id'] }}
{% endif %}
